/* Reset CSS */
html {
	cursor: none;
}
hr {
	color:white;
}
header {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #222222;
	padding-top: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	padding-right: 10px;
}
.header-nav {
	width: 1400px;
	align-items: center;
	justify-content: center;
	background-color: #222222;
	padding-top: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	padding-right: 10px;
}
.header-li {
	max-width: 150px;
}
#intro {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #222222;
	padding-top: 10px;
	padding-bottom: 0px;

	
}
#intro-desc {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #222222;
	padding-top: 0px;
	padding-bottom: 20px;
	
}
#meet-the-team {
	background-color: #000000;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
}
#meet-the-team-desc {
	background-color: #000000;
	padding: 20px;
}

#meet-the-team-desc > ul{
	align-items: center;
	justify-content: center;
}

#meet-the-team-desc > ul > li{
	align-items: center;
	justify-content: center;
	text-align: center;
}

#meet-the-team-desc > h1{
	align-items: center;
	justify-content: center;
	text-align: center;
}
  
#contact {
	background-color: #000000;
	padding: 40px;
}
  
#curriculum {
	background-color: #000000;
	padding: 40px;
}
  
#map {
	background-color: #000000;
	padding: 0px;
	padding-top: 10px;

}
  
#section {
	margin-bottom: 40px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Global Styles */

body {
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
	font-size: 16px;
	line-height: 1.5;
	color: #ccc;
	background-color: #000000;
	cursor: none;
}

a {
	color: #0160bf;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	cursor: none;
}

/* Header Styles (not included in this example) */

/* Main Styles */

main {
	max-width: 1920px;
	margin: 0 auto;
	padding: 20px;
}

section {
	margin-bottom: 40px;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 10px;
}

p {
	margin-bottom: 20px;
}

ul {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	display: flex;
	flex-wrap: wrap;
}

li {
	flex-basis: calc(33.33% - 20px);
	margin-right: 20px;
	margin-bottom: 20px;
}

img {
	max-width: 100%;
	height: auto;
}

/* Contact Form Styles */

label {
	display: block;
	margin-bottom: 5px;
	cursor: none;
}

input[type="text"], input[type="email"], textarea {
	display: block;
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	background-color: #6b6a6a;
	border-radius: 5px;
	margin-bottom: 20px;
	cursor: none;
}

textarea {
	min-height: 150px;
}

input[type="submit"] {
	background-color: #00356b;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	cursor: none;
}

input[type="submit"]:hover {
	background-color: #00356b;
	cursor: none;
}

/* Map Styles */

#map {
	position: relative;
	height: 300px;
}

#map iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
}

.pfp {
	max-width: 350px;
	max-height: 350px;
	min-width: 50px;
	min-height: 50px;
	border-radius: 100%;
	width: 30vw;
	height: 30vw;
}

/* Bounce To Right */
.hvr-bounce-to-right {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
  }
  .hvr-bounce-to-right:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #00356b;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
  }
  .hvr-bounce-to-right:hover, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:active {
	color: white;
  }
  .hvr-bounce-to-right:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
	-webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
	transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  }
.cursor {
	width: 30px;
	height: 30px;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 50%;
	position: absolute;
	transition-duration: 50ms;
	transition-timing-function: ease-out; 
	animation: cursorAnim .5s infinite alternate;
	pointer-events: none;
	}

.cursor::after {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    border: 8px solid rgb(87, 87, 87);
    border-radius: 50%;
    opacity: .5;
    top: -8px;
    left: -8px;
    animation: cursorAnim2 0.5s infinite alternate;
}

@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
	0% {
        transform: scale(3);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(3);
        opacity: 0;
    }
}

.expand {
    animation: cursorAnim3 1.5s ease-in-out;
    border: 1px solid rgb(78, 2, 2);
}